deprecated/ImageEditCore/obj
deprecated/ImageEditCore/bin
deprecated/ImgEdit/obj
deprecated/ImgEdit/bin
deprecated/WFA ImgEdit/obj
deprecated/WFA ImgEdit/bin
deprecated/testus/obj
deprecated/testus/bin

imgEdit
